#panels_tabs {
    border-bottom: 1px solid #222222;
    margin-bottom: 20px;
    background-color: #3DAFC8;
    background-image: -moz-linear-gradient(100% 100% 90deg, #3DAFC8, #83D7E4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3DAFC8), to(#83D7E4));
}

#panels_tabs a:link, #panels_tabs a:visited {
    color: #222222;
    text-decoration: none;
    font-size: 1.5em;
}

#panels_tabs a:hover {
    text-decoration: underline;
}

#panels_tabs li.active a:hover {
    text-decoration: none;
}

#panels_tabs ul {
    width: 715px;
    margin: 0 auto;
    overflow: auto;
}

#panels_tabs li {
    float: left;
    display: block;
    white-space: nowrap;
    padding: 30px 35px;
    color: #222222;
}

#panels_tabs li.active {
    background-color: #222222;
    border-left: 1px solid #3DAFC8;
    border-right: 1px solid #3DAFC8;
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#panels_tabs li.active a {
    color: #3DAFC8;
}

div#feature_wrap {
    width: 900px;
    margin: 0 auto 20px auto;
    overflow: auto;
}

div#screenshot_wrap {
    width: 500px;
    float: left;
}

div#girl_studying {
    width: 500px;
    height: 361px;
}

div#girl_studying img {
    width: 400px;
    height: 266px;
    margin: 20px 50px;
}

#feature_wrap h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2.5em;
    color: #A0CE67;
}

div#text_caption {
    width: 380px;
    float: left;
    margin-top: 20px;
}

div#text_caption p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #ECEFF5;
    margin: 20px 0;
}
div#text_caption p.pricing {
    text-align: center;
}

p.pricing a:link, p.pricing a:visited {
    color: #3DAFC8;
    text-decoration: none;
}
