#panels_tabs {
    background-color: #83D7E4;
    border-bottom: 1px solid #222222;
    margin-bottom: 20px;
}

#panels_tabs a, a:visited {
    color: #222222;
    text-decoration: none;
    font-size: 1.5em;
}

#panels_tabs a:hover {
    text-decoration: underline;
}

#panels_tabs li.active a:hover {
    text-decoration: none;
}

#panels_tabs ul {
    width: 715px;
    margin: 0 auto;
    overflow: auto;
}

#panels_tabs li {
    float: left;
    display: block;
    white-space: nowrap;
    padding: 30px 40px;
    color: #222222;
    background-color: #83D7E4;
    border-right: 1px solid #222222;
}

#panels_tabs li.active {
    background-color: #222222;
    border-left: 1px solid #3DAFC8;
    border-right: 1px solid #3DAFC8;
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#panels_tabs li.active a {
    color: #3DAFC8;
}

div#feature_wrap {
    width: 960px;
    margin: 0 auto 30px auto;
    overflow: auto;
}

div#screenshot_wrap {
    width: 960px;
    margin: 0 auto;
}

#feature_wrap h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2.5em;
    color: #A0CE67;
    text-align: center;
}

div#text_caption {
    width: 800px;
    margin: 0 auto;
}

div#text_caption p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #ECEFF5;
    margin: 0.5em 0;
}

