/*****  login/register *****/


/** login box, forgot password box **/
div.sbox_content div.sbox_inner {
    font-size: 1.5em;
    color: #ECEFF5;
    margin: 0;
    padding: 0 10px 10px 10px;
}

div#login_box h2, div#forgot_box h2, div#confirm_box h2 {
    font-size: 1.7em;
    color: #89A7D7;
    text-align: center;
    margin: 0 0 20px 0;
}

div.sbox_content input[type="text"],
div.sbox_content input[type="password"] {
    margin: 10px 0 20px 0;
    font-size: 1.7em;
    width: 370px;
    display: block;
    border: 2px solid #89A7D7;
    background-color: #EDF2F7; 
}

div.sbox_content input[type="text"]:focus,
div.sbox_content input[type="password"]:focus,
div.sbox_content input[type="text"]:active,
div.sbox_content input[type="password"]:active {
    background-color: #F9F8E4; 
}

div.sbox_content div.submit input {
    font-size: 1.5em;
    padding: 0 1em;
    margin: 0;
}

div.sbox_content div.sbox_inner p {
    margin: 1em 0;
}

div#login_box li.forgot_password {
    font-size: 1em;
    float: right;
}

/** register boxes **/
div#register_box {
    font-size: 12px;
    float: left;
    clear: left;
    width: 360px;
    margin: 0 0 40px 0;
    padding: 10px;
    /*border: 1px solid #89A7D7;*/
}

div#register_priv_box {
    font-size: 12px;
    float: right;
    clear: right;
    width: 300px;
    margin: 0 0 40px 0;
    padding: 10px;
    border: 1px solid #89A7D7;
}

table#products_table {
    border: 1px solid #89A7D7;
    width: 300px;
    font-size: 1em;
    margin: 10px 0;
}

table#products_table td {
    padding: 5px;
}

table#products_table input.checkbox {
    width: 13px;
    height: 13px;
    vertical-align: bottom;
    position: relative;
}

/** settings boxes **/
div#change_email_box {
    float: right;
    clear: right;
    height: 130px;
    width: 330px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #89A7D7;
}

div#change_password_box {
    float: left;
    clear: left;
    height: 130px;
    width: 330px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #89A7D7;
}

div#update_account_box {
    clear: both;
    width: 370px;
    padding: 10px;
    overflow: auto;
    margin: 0 auto;
}

#update_account_box div.input {
    margin: 10px 0;
}

#update_account_box div.submit {
    width: 150px;
    float: left;
}

#update_account_box p {
    margin-top: 10px;
}

#update_account_box div.input label {
    float: left;
    height: 1.8em;
    margin-right: .5em;
    text-align: left;
}

#update_account_box div.input input {
    font-size: 1.2em;
}

#update_account_box div.submit input {
    width: 150px;
    height: 30px;
}

/** box list styles **/

div#register_ad_box ul, div#register_priv_box ul {
    padding: 0;
    margin: 0 0 10px 20px;
}

div#register_ad_box li, div#register_priv_box li {
    padding: 0;
    margin: 7px 0 0 0;
    list-style-type: circle;
}

#register_ad_box p, #register_box p {
    margin-top: 10px;
}

div.form_box ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}

div.form_box li {
    padding-bottom: 1em;
}

div.form_box li.separator {
    text-align: center;
}

div.form_box p {
    margin-top: 10px;
}

div.form_box label {
    float: left;
    height: 1.8em;
    width: 7em;
    margin-right: .5em;
    text-align: left;
}

div.form_box input {
    font-size: 1.2em;
}

div.form_box div.submit {
    float: right;
    clear: left;
    padding: 0;
    margin: 0 1em 0 0;
}

div.form_box div.submit input {
    height: 30px;
}

/*** error messages ***/
div#flashMessage, div#authMessage, span.error {
    color: #FF3366;
    margin: 0 0 10px 0;
}
div.error-message {
    color: #FF3366;
}
