/****** deck_study.css ******/

div#title_wrap {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

div#crumb_wrap {}

div#crumb_quit {
    position: absolute;
    width: 70px;
    height: 20px;
    top: 0;
    right: 0;
    font-size: 14px;
}
#crumb_quit a:link, #crumb_quit a:visited,
#bottom_controls a:link, #bottom_controls a:visited {
    color: #663300;
}
#crumb_quit a:hover, #crumb_quit a:focus,
#bottom_controls a:hover, #bottom_controls a:focus {
}
#crumb_quit a:active,
#bottom_controls a:active {
    color: #000;
}

/****** question/answer box ******/

div#card_wrap {
    min-height: 300px;
    width: 620px;
    margin: 10px auto;
    cursor: pointer;
}

div#row_body {}

div#row_question {
    font-size: 16px;
    text-align: center;
    min-height: 50px;
    padding: 20px 10px;
}

div#row_answer {
    font-size: 14px;
    text-align: center;
    min-height: 150px;
    margin: 0;
    border-top: 1px solid #cecece;
    padding: 10px;
}


/*** incorrect button effects ***/

div#row_bottom {
    position: relative;
    width: 500px;
    height: 50px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.crs {
    position: relative;
    width: 500px;
    height: 50px;
    background: url("/img/mark_btn.png") no-repeat;
    margin: 0;
    padding: 0;
}
.crs li {
    position: absolute;
    top: 0;
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

/** incorrect button style effects **/
.inc_btn { left: 0; width: 250px; }
.inc_btn-hover, .inc_btn-click {
    position: absolute;
    left: 0;
    width: 250px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: transparent url("/img/mark_btn.png") 0 -50px no-repeat;
}
.inc_btn-click {
    background: transparent url("/img/mark_btn.png") 0 -100px no-repeat;
}

/** correct button style effects **/
.cor_btn { left: 250px; width: 250px; }
.cor_btn-hover, .cor_btn-click {
    position: absolute;
    left: 250px;
    width: 250px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: transparent url("/img/mark_btn.png") -250px -50px no-repeat;
}
.cor_btn-click {
    background: transparent url("/img/mark_btn.png") -250px -100px no-repeat;
}

/****** control box ******/
div#bottom_controls {
    font-size: 14px;
    height: 30px;
    width: 400px;
    margin: 0 auto 20px auto;
}

div#bottom_controls div.center {
    width: 60px;
    margin: 0 auto;
    text-align: center;       
}
div#bottom_controls div.center div#card_rating {
    border: 1px solid #cecece;
    padding: 5px;
}

div#bottom_controls div.left {
    width: 50px;
    text-align: left;
}

div#bottom_controls div.right {
    width: 50px;
    text-align: right;

}

/****** learn mode box ******/

div#top_controls #box{
    width: 500px;
    height: 30px;
    border: 1px solid #004D99;
    margin: 10px auto;
    padding: 10px;
    background-color: #CCE6FF;
}


/****** generic margin box styles ******/

/*
div#left_margin_wrap {
    position: absolute;
    right: 77%;
    width: 18%;
    min-height: 100px; 
}

div#right_margin_wrap {
    position: absolute;
    left: 77%;
    width: 18%;
    min-height: 100px; 
}

div.margin_box {
    border: 1px solid #000000;
    margin: 0 0 10px 0;
    padding: 10px;
}

div.margin_box span.title {
    font-weight: bold;
    display: block;
}
