/**** deck_info.js ****/
div#heading {
    margin: 10px 0 0 0;
    padding: 0;
}

div#heading p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0 5px 0;
}

div#deck_utils {
    float: right;
    clear: right;
}

/** middle section **/

div#middle {
    font-size: 12px;
    border: 1px solid #cecece;
}

div#middle input {
    float: left;
    clear: left;
}

div#middle label {
    float: left;
    clear: right;
}

div#category_select {
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 0;
    float: left;
    clear: left;
}

div#category_select p {
    margin-left: 20px;
}

div#category_select input {
    margin-left: 40px;
}

div#category_select .disabled {
    color: #cecece;
}

div#mode_select {
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 0;
    float: left;
    clear: right;
}
    
div#mode_select input {
   width: 100px;
   height: 30px;
   margin: 0 20px 0 0 ;
   padding: 0;
   float: left;
   clear: none;
}

/*** bottom section ***/

div#bottom {
    font-size: 12px;
    margin: 15px 0 15px 0;
    padding: .2em;
}

div#stats_tab, div#cards_tab, div#results_tab {
    margin: 0;
    padding: 10px;
    clear: both;
}

div#cards_tab div#edit_deck {
    margin: 10px;
    padding: 0;

}
