/****** rating selector widget ******/

.rts {
    position: relative;
    width: 197px;
    height: 25px;
    background: url("/img/rts_info.png") no-repeat;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
}

.rts li {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
}
.rts li, .rts a {
    height: 25px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

/** easy button style effects **/
.easy   { left: 0; width: 65px; }
.rts-easy, .rts-easy-click {
    position: absolute;
    left: 0;
    width: 65px;
    height: 25px;
    background: transparent url("/img/rts_info.png") 0 -25px no-repeat;
}
.rts-easy-click {
    background: transparent url("/img/rts_info.png") 0 -50px no-repeat;
}

/** medium button style effects **/
.medium { left: 66px; width: 65px; }
.rts-medium, .rts-medium-click {
    position: absolute;
    left: 66px;
    width: 65px;
    height: 25px;
    background: transparent url("/img/rts_info.png") -66px -25px no-repeat;
}
.rts-medium-click {
    background: transparent url("/img/rts_info.png") -66px -50px no-repeat;
}


/** hard button style effects **/
.hard   { left: 132px; width: 65px; }
.rts-hard, .rts-hard-click {
    position: absolute;
    left: 132px;
    width: 65px;
    height: 25px;
    background: transparent url("/img/rts_info.png") -132px -25px no-repeat;
}
.rts-hard-click {
    background: transparent url("/img/rts_info.png") -132px -50px no-repeat;
}
