/****** deck_create.css ******/

/** deck meta container **/

div#deck_inputs {
    margin: 10px 0 0 0;
    padding: 0;
}

#deck_inputs ol {
    padding: 10px 10px 10px 0;
}

#deck_inputs li {
    padding-bottom: 10px;
}

#deck_inputs label, #deck_inputs span.label {
    font-size: 1.3em;
    float: left;
    width: 100px;
    margin-right: 1em;
    text-align: left;
}

#deck_inputs li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

#deck_inputs li.privacy_options {
}

#deck_inputs li.privacy_options label {
    float: none;
    margin-left: 1em;
}

#deck_inputs li input, #upload_box input {
    font-size: 1.3em;
}

#deck_inputs li input.input_detail {
    font-size: 1.3em;
    width: 350px;
}

/** card input container **/

div#card_inputs {
    padding-bottom: 1em;
}

div#card_inputs label {
    text-align: right;
}

div#card_inputs input.input_term {
    float: left;
    width: 150px;
    margin-right: 1em;
}

div#card_inputs input.input_defn {
    float: left;
    width: 300px;
    margin-right: 1em;
}

div#card_inputs #term_header {
    float: left;
    font-size: 1.2em;
    width: 150px;
    margin-right: 1em;
}

div#card_inputs #definition_header {
    font-size: 1.2em;
    float: left;
    width: 300px;
}

div.plus, div.minus {
  width: 16px;
  height: 16px;
  float: left;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
}

div.plus {
  background-image:url('/img/add.png');
}
div.minus {
  background-image:url('/img/delete.png');
}

div#submit_deck {
    padding: 2em 0;
}

#submit_deck input, input#upload_button {
    font-size: 1.3em;
    height: 30px;
    width: 170px;
}


/** CSV input container **/

div#upload_box {
    padding: 10px;
    border: 1px solid #cecece;
}

#upload_box input.input_upload {
    margin: 10px auto;
    width: 500px;
}
/*** auto complete CSS ***/
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

