/****** deck_review.css ******/

div#review_intro {
  float: left;
}

div#quiz_legend {
  float: right;
  clear: right;
  margin: 0 0 10px 10px;
  text-align: center;
}

div#review_table_wrap {
  clear: both;
  margin: 0 0 15px 0;
  padding: 0;
}

/*** Legend styles ***/
.legend_title {
  font-weight: bold;
}

/*** Review table styles ***/
table#table_review, table#table_legend {
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #cecece;
}

table#table_review td, table#table_legend td {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #cecece;
  padding: 2px;
}

.header_row {
  background-color: #CECECE;
}

.correct {
  background-color: #CCFFDA;
}

.incorrect {
  background-color: #FFB3C6;
}
