/*** deck_explore.css ***/

div#sort_actions {
    overflow: auto;
    margin: 0 0 10px 0;
}

#sort_actions ul {
    float: right;
    clear: right;
}

#sort_actions li {
    display: inline;
    margin-left: 10px;
}

div#pagination {
    margin: 10px 0 0 0;
}

div#pagination span {
    margin-right: .5em;
}
