/**** deck_info.js ****/
div#heading {
    margin: 10px 0 0 0;
    padding: 0;
}

div#heading p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0 5px 0;
}

div#deck_utils {
    font-size: 14px;
    font-weight: bold;
    float: right;
    clear: right;
}

/** middle section **/

div#middle {
    font-size: 12px;
    border: 1px solid #cecece;
    overflow: auto;
}

div#category_select {
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 0;
    float: left;
    clear: left;
}
div#category_select p {
    margin: 0 0 10px 20px;
}

div#category_select input {
    float: left;
    clear: left;
    margin: 5px 5px 5px 50px;
}
div#category_select label {
    float: left;
    clear: right;
    margin: 5px 0 5px 0;
}
div#category_select .disabled {
    color: #cecece;
}

div#mode_select {
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 0;
    float: left;
    clear: right;
}
div#mode_select input {
    margin: 10px;
}
div#mode_select label {}
div#mode_select input#learn_button, div#mode_select input#quiz_button {
   width: 100px;
   height: 30px;
   margin: 0 20px 0 0 ;
   padding: 0;
   float: left;
   clear: none;
}

/*** bottom section ***/

div#bottom {
    font-size: 12px;
    margin: 15px 0 0 0;
    padding: .2em;
}

div#stats_tab, div#cards_tab, div#results_tab {
    height: 530px;
    padding: 10px;
    clear: both;
}

/*** card/quiz review tab generic ***/

div.table_scroll {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.table_scroll table.deck_table td {
    padding: 0;
}
div.table_scroll table.deck_table th {
    padding: 0;
}

table.deck_table th.edit_rating, table.deck_table th.history {
    text-align: center;
}
table.deck_table td.rts_col { text-align: center }
table.deck_table td div.term { font-weight: bold }
table.deck_table td.ord { text-align: center; }

/*** card list tab ***/
div#cards_tab table.deck_table col.col_num {
    width: 20px;
    /*
    border: 1px solid red;
    */
}
div#cards_tab table.deck_table col.col_term_defn {
    width: 300px;
    /*
    border: 1px solid blue;
    */
}
div#cards_tab table.deck_table col.col_rating {
    width: 200px;
    /*
    border: 1px solid green;
    */
}

/*** quiz review tab ***/
div#results_tab table.deck_table col.col_correct { width: 5% }
div#results_tab table.deck_table col.col_num { width: 5% }
div#results_tab table.deck_table col.col_term_defn { width: 45% }
div#results_tab table.deck_table col.col_history { width: 20% }
div#results_tab table.deck_table td.history { text-align: center; }
div#results_tab table.deck_table td.history img {
    display: block;
    margin: 0 auto;
}
div#results_tab table.deck_table col.col_rating { width: 25% }

div#summary {
    font-size: 30px;
    font-weight: bold;
    width: 450px;
    margin: 10px auto 0 auto;
}
div#summary img {
    float: left;
}
div#summary div#grade {
    float: left;
    margin: 40px 0 0 0;
}
