/****** deck_study.css ******/

h1.title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    clear: left;
}

div#title_wrap {
    text-align: right; 
    padding: 0;
    margin: 10px 25% 10px 25%;
}

div#title_wrap a.top_link {
    color: #304251;
    font-weight: bold;
    text-decoration: none;
}

/****** card viewer styles ******/

div#mask {
    position: absolute;
    width: 50%;
    height: 310px;
    padding: 0;
    margin: 0 25% 0 25%;
    background-color: #000;
    display: none;
}

div#card_wrap {
    min-height: 300px;
    border: 1px solid #000000;
    padding: 0;
    margin: 10px 25% 10px 25%;
    cursor: pointer;
}

/****** question/answer ******/

div#row_top {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #000000;
    margin: 0;
    padding: 0;
}

div#row_question {
    font-size: 16px;
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

div#row_answer {
    font-size: 12px;
    min-height: 150px;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

div#row_bottom {
    position: relative;
    height: 40px;
    border-top: 1px solid #000000;
    padding: 0;
    margin: 0;
}
/****** previous/next, correct/incorrect buttons ******/

div.middle_button {
    text-align: center;
    height: 40px;
    margin: 0 25% 0 25%;
    padding: 3px 0 0 0;
}

div.left_button {
    text-align: center;
    height: 40px;
    width: 20%;
    border-right: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

div.right_button {
    text-align: center;
    height: 40px;
    width: 20%;
    border-left: 1px solid #000000;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

div#prev_button, div#next_button {
    background-color: #b9c9fe;
    padding: 0;
}
div#correct_button {
    background-color: #029c2e;
    padding: 0;
}
div#incorrect_button {
    background-color: #b30000;
    padding: 0;
}

div#card_rating div.rating_str {
    margin: 0;
    padding: 0;
}

/****** generic margin box styles ******/

div#left_margin_wrap {
    position: absolute;
    right: 77%;
    width: 18%;
    min-height: 100px; 
}

div#right_margin_wrap {
    position: absolute;
    left: 77%;
    width: 18%;
    min-height: 100px; 
}

div.margin_box {
    border: 1px solid #000000;
    margin: 0 0 10px 0;
    padding: 10px;
}

div.margin_box span.title {
    font-weight: bold;
    display: block;
}

/****** margin box content-specific styles ******/

div.margin_box table.quiz_history {

}

div.margin_box label {

}

div.margin_box input.show_answer_checkbox {
    
}

div.margin_box#quit_wrap {
  border: 0;
}

div.margin_box input#quit_session {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
}
