body {
  font-family: trebuchet, verdana, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

/*****  top-level divs *****/

div#top_bar {
  height: 50px;
  width: 700px;
  margin: 0 auto 0 auto;
  padding: 0;
}

div#middle_wrapper {
  background-color: #EBEBEB;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}

div#middle_wrapper_content {
  background-color: #FFFFFF;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}

div#middle_bar {
  width: 700px;
  margin: 0 auto 0 auto;
  padding: 0;
}

div#footer {
  width: 700px;
  margin: 10px auto 0 auto;
  padding: 0;
}

div.left {
  float: left;
}

div.right {
  float: right;
  clear: right;
}

ul.inline_list, ul.inline_list li {
  display: inline;
  margin: 0;
  padding: 0;
}

div.clear_div {
  clear: left;
}

/*****  top_bar *****/

div#top_nav {
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
}

#top_logo {
  margin: 0;
  padding: 0;
  float: left;
}

div#top_logo h1 {
  font-size: 24px;
  margin: 10px 0 0 0 0;
  padding: 0;
}

div#top_logo h1 a {
  color: #004D99;
  text-decoration: none;
}

ul#main_nav.inline_list, ul#main_nav.inline_list li {
  display: inline;
  margin: 0 0 0 20px;
  padding: 0;
}
ul#register_nav.inline_list, ul#register_nav.inline_list li {
  display: inline;
  margin: 0 0 0 20px;
  padding: 0;
}

#main_nav a, #register_nav a {
  color: #000000;
  text-decoration: none;
}
#main_nav a:hover, #register_nav a:hover {
  color: #004D99;
  text-decoration: underline;
}

/*****  middle_bar *****/
div.howto_box {
  float: left;
  margin: 10px;
  padding: 10px 0 0 10px;
  border: 1px solid #000000;
  height: 200px;
  width: 200px;
}

div.howto_box h3 {
  font-family: georgia, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
}

div.howto_box a {
  color: #004D99;
  text-decoration: none;
}

div.howto_box a:hover {
  color: #004D99;
  text-decoration: underline;
}

div#middle_bar h2 {
  font-size: 16px;
  border-bottom: 1px solid #cecece;
}

/*****  middle_bar generic *****/
div#middle_bar h1 {
  color: #003366;
  font-family: verdana, georgia, sans-serif;
  font-size: 16px; 
  padding: 0;
}

fieldset.small {
    width: 300px;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 1px solid #cecece;
}

fieldset.small ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}

fieldset.small li {
    padding-bottom: 1em;
}

fieldset.small label {
    float: left;
    width: 7em;
    margin-right: 1em;
    text-align: right;
}

fieldset.small div.submit {
    float: right;
    clear: left;
    padding: 0;
    margin: 0 1em 0 0;
}

div#authMessage {
    font-size: 12px;
    font-weight: bold;
    margin: 1em 0 1em 0;
    padding: 0;
    text-align: center;
}

/*****  footer *****/

#footer_nav a {
  color: #000000;
  text-decoration: none;
}

#footer_nav a:hover {
  color: #004D99;
  text-decoration: underline;
}

/** for debug table **/
table tr td {
        background: #fff;
        border-right: 1px solid #ccc;
        padding: 4px;
        text-align: center;
        vertical-align: top;
}
table tr.altrow td {
        background: #f4f4f4;
}
td.actions {
        text-align: center;
        white-space: nowrap;
}
td.actions a {
        margin: 0px 6px;
}
.cake-sql-log table {
        background: #f4f4f4;
}
.cake-sql-log td {
        padding: 4px 8px;
        text-align: left;
}
